<section class="ourStory">
        <h1>Our Story.</h1>

        <p>We started out as a group of random people, but we were all driven by the same thing: Development.</p>

        <p>We wanted to create something that allowed us to build beneficial habits as we began to apply to new roles in the field of tech. So, we implemented ideas that allowed future developers, like us, to focus on their job search and skill growth.</p>

        <p>Our website is designed to help future developers keep track of jobs they’ve applied to, read articles on news within the tech field, and time their coding practice sessions, as well as keeping track of completing these activities on a daily checklist.</p>

        <p>We are so excited to have you here.</p>
</section>