<section class="checklist">

    <ul class="list-group">

        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Apply to jobs
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Update Application Tracker
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Practice Coding
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Read an Article
        </li>

    </ul>   

</section>

<section class="apptrackDash">

    <button><a id="trackerDashBtn" href="./tracker.handlebars">Application Tracker</a></button>

</section>

<section class="dailynewsDash">

    <button><a id="newsDashBtn" href="./news.handlebars">Daily News</a></button>

</section>

<section class="timerDash">

    <button><a id="timerDashBtn" href="./timer.handlebars">Practice Timer</a></button>

</section>
