    {{#if logged_in}}
    <div class="row">
  <div class="col-auto">
  </div>
</div>

<section class="checklist">

    <ul class="list-group">

        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Apply to jobs
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Update Application Tracker
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Practice Coding
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Read an Article
        </li>

    </ul>   

</section>

<div class="appsDash">
<section class="apptrackDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="trackerDashBtn" href="/tracker">Application Tracker</a>
  </div>
</div>


</section>

<section class="dailynewsDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="newsDashBtn" href="/news">Daily News</a>
  </div>
</div>

    

</section>

<section class="timerDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="timerDashBtn" href="/timer">Practice Timer</a>
  </div>
</div>

</section>
</div>
    
{{else}}
    <div class="row">
  <div class="col-md-6">
    <h2 class="logsignBtn">Log In</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="logsignBtn">Sign Up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
{{/if}}
