<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<section class="checklist">

    <ul class="list-group">

        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Apply to jobs
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Update Application Tracker
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Practice Coding
        </li>
        <li class="list-group-item">
            <input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            Read an Article
        </li>

    </ul>   

</section>

<div class="appsDash">
<section class="apptrackDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="trackerDashBtn" href="/tracker">Application Tracker</a>
  </div>
</div>


</section>

<section class="dailynewsDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="newsDashBtn" href="/news">Daily News</a>
  </div>
</div>

    

</section>

<section class="timerDash">

    <div class="card" style="width: 18rem;">
  <div class="card-body">
    <a class="card-title" id="timerDashBtn" href="/timer">Practice Timer</a>
  </div>
</div>

</section>
</div>
