<section class="appTrack">
            <h1>Application Tracker</h1>
            <div class="appLoad"></div>
    </section>

    <section class="newApp">
        <h1>New Application</h1>
        <div class="newAppForm">
            <form>
                <div class="mb-3">
                  <label for="companyName" class="form-label">Company</label>
                  <input type="other" class="form-control" id="companyName">
                </div>
                <div class="mb-3">
                  <label for="jobTitle" class="form-label">Job Title</label>
                  <input type="other" class="form-control" id="jobTitle">
                </div>
                <div class="mb-3">
                    <label for="emailUsed" class="form-label">Email</label>
                    <input type="email" class="form-control" id="emailUsed">
                </div>
            </form>
        </div>
    </section>
