nav {
  float: right;
  padding-right: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  color: black;
  display: inline-block;
  margin-left: 25px;
  padding-top: 45px;
}

a {
  text-decoration: none;
  color: black;
}

.logInForm {
  display: none;
}

h1 {
  display: inline-block;
  font-size: 45px;
  margin-left: 20px;
  padding-top: 30px;
  padding-left: 25px;
}

.signUpForm{
  height: fit-content;
  width: 550px;
  float: right;
  padding-top: 20px;
}


.carousel-inner{
  height:fit-content;
  width: 550px;
  float: left;
}

#signUpBtn{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

#or{
  display: flex;
  justify-content: center;
}

#logInBtn{
  display: flex;
  justify-content: center;
}

.ourStory{
  padding-left: 50px;
  padding-right: 50px;
}

.ourStory h1{
  display: flex;
  justify-content: center;
}

.list-group{
  padding-top: 35px;
  padding-left: 50px;
  padding-bottom: 25px;
  width: 550px;
}

#appLoad{
  border: solid black;
  height: 300px;
  width: 300px;
}